[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-*;application/gzip;application/java-archive;application/vnd.android.package-archive;application/vnd.debian.binary-package;application/vnd.ms-cab-compressed;application/zip;application/zstd
Actions=extractAndDelete

[Desktop Action extractAndDelete]
Name=Extract Here and Delete
Icon=archive-extract
Exec=ark -ba %u && rm %u
